<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Contenido De Css 3 Botstrap, Aos Animation, Style.css-->
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/aos.css">
    <!--Contenido De Css 3 Botstrap, Aos Animation, Style.css-->
    <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
    <link rel="icon" type="image/x-icon" href="../Img/Logos/LogoCircular.webp">
    <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
    <title>MeztliDiseñadoraDeUñas</title>
</head>
<body>
    <!--Seccion 1 Presentacion-->
    <div class="text-center" data-aos="zoom-in">
        <a href="/"><img src="../Img/Logos/LogoSinfondo.webp" class="img-fluid" width="150rem" alt="" srcset=""></a>
    </div>
    <div class="text-center" data-aos="zoom-in">
        <img src="../Img/ImgPrincipal.webp" class="img-fluid"  alt="" srcset="">
    </div>
    <br><br>
    <!--Seccion 1 Presentacion-->

    <!--1 Container-->
    <div class="container mt-5">
        <!--Row 1-->
        <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img1.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img2.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img3.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img4.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img5.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img6.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img7.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img8.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img9.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img10.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img11.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img12.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img13.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img14.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img15.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img16.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img17.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img18.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img19.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img20.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img21.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img22.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img23.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img24.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img25.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img26.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img27.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img28.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img29.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img30.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img31.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img32.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img33.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img34.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img35.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img36.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img37.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img38.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img39.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img40.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img41.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img42.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img43.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img44.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img45.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img46.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img47.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            <div class="col" data-aos="zoom-in">
                <!--Espacio de imagen-->
                <img src="../Img/img-ViewDiseñoDeUñas2/Img48.webp" class="img-fluid rounded card-efecto" alt="" srcset="">
                <!--Espacio de imagen-->
            </div>
            
          </div>
        <!--Row 1-->
        <!--El div de abajo es del container principal-->
    </div>
    <!--1 Container-->







    <!--Container de Footer-->
    <div class="container-fluid ColorDeFooter border-top border-3 mt-4" data-aos="zoom-in">
        <div class="container">
            <div class="row justify-content-around mt-2">
                <div class="order-2 order-md-1 col-md-5 text-center text-md-end align-self-center mt-2">
                    <p class=""><b>Sitio De Uñas</b></p>
                    <p class="">Meztli Diseñadora De Uñas</p>
                    <p class=""><b>Tel: 55 19 - 27 - 77 - 75</b></p>
                </div>
                <div class="order-1 order-md-2 col-md-2 align-self-center">
                    <img src="../../../public/img/logos/LogoSinfondo.webp" class="TamDeImgDeFooter mx-auto d-block mb-2" alt="">
                </div>
                <div class="order-3 order-md-3 col-md-5 text-center text-md-start align-self-center">
                    <p class=""><b>Dirección</b></p>
                    <p class="">San Antonio Tecomitl - Milpa Alta CP. 12100</p>
                </div>
            </div>
            <div class="row border-top mt-2">
                <div class="col-12 mt-2">
                    <p class=" text-center ">Sitio De Diseños De Uñas |Copyright 2024</p>
                </div>
            </div>
        </div>
    </div>
    <!--Container de Footer-->

        <!--Contenido De jS Mascara De Carga, Botstrap, Aos Animation-->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
        <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
        <script src="../js/mascaraDeCarga/jquery-3.2.1.min.js"></script>
        <script src="../js/mascaraDeCarga/jquery.blockUI.js"></script>
        <script src="../js/mascaraDeCarga/mascara.js"></script>
        <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
    <script src="../js/bootstrap/bootstrap.min.js"></script>

    <script src="../js/aos.js"></script>
        <!--Contenido De jS Mascara De Carga, Botstrap, Aos Animation-->
</body>
</html>