.card-efecto{
    color: #000000;
    transition-duration: 1s;
    border-radius: 1rem;
    border: none;
}

.card-efecto:hover{
    transform: scale(1.1);
    transition-duration: 1s;
    color: #000000;

    border-top-left-radius: 1.1rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 1.1rem;
    border-bottom-left-radius: 0.4rem;
}
.color-boton{
    background-color: #9f5fc3;
}
.TamDeImgDeFooter{
    width: 7rem;
    height: 7rem;
}